.signup-text {
  margin-top: 10px;
  font-size: 14px;
}

.signup-link {
  color: #d32f2f;
  cursor: pointer;
  font-weight: bold;
}
.close-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

.close-icon:hover {
  color: red;
}
