.popular-section {
  width: 100%;
  max-width: 1200px;   
  margin: 0 auto;     
  padding: 20px;
  text-align: center;
}
.popular-section h2{
    text-align: center;
    font-size: 40px;
}
.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr))!important;
  gap: 16px;
  align-items: stretch;
}


/* Responsive */
@media (max-width: 1024px) {
  .popular-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .popular-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .popular-grid {
    grid-template-columns: 1fr;
  }
}
