* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  /* background: #f6f6f6; */
}

.nav {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #27ae60;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

.card button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.cart-item {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
}
