.banner-wrapper {
  width: 100%;
  margin: 20px 0;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 16px;
  transition: transform 0.4s ease;
}

.banner-image:hover {
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .banner-image {
    height: 180px;
  }
}